html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

body.bp { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
body.bp h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
body.bp h1 img { margin: 0; }
body.bp h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }
body.bp h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
body.bp h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
body.bp h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
body.bp h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }
body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img { margin: 0; }
body.bp p { margin: 0 0 1.5em; }
body.bp p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
body.bp p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
body.bp a { text-decoration: underline; color: #000099; }
body.bp a:visited { color: #000066; }
body.bp a:focus { color: black; }
body.bp a:hover { color: black; }
body.bp a:active { color: #cc0099; }
body.bp blockquote { margin: 1.5em; color: #666; font-style: italic; }
body.bp strong { font-weight: bold; }
body.bp em { font-style: italic; }
body.bp dfn { font-style: italic; font-weight: bold; }
body.bp sup, body.bp sub { line-height: 0; }
body.bp abbr, body.bp acronym { border-bottom: 1px dotted #666; }
body.bp address { margin: 0 0 1.5em; font-style: italic; }
body.bp del { color: #666; }
body.bp pre { margin: 1.5em 0; white-space: pre; }
body.bp pre, body.bp code, body.bp tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }
body.bp li ul, body.bp li ol { margin: 0 1.5em; }
body.bp ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }
body.bp ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }
body.bp dl { margin: 0 0 1.5em 0; }
body.bp dl dt { font-weight: bold; }
body.bp dd { margin-left: 1.5em; }
body.bp table { margin-bottom: 1.4em; width: 100%; }
body.bp th { font-weight: bold; }
body.bp thead th { background: #c3d9ff; }
body.bp th, body.bp td, body.bp caption { padding: 4px 10px 4px 5px; }
body.bp tr.even td { background: #e5ecf9; }
body.bp tfoot { font-style: italic; }
body.bp caption { background: #eee; }
body.bp .quiet { color: #666666; }
body.bp .loud { color: #111111; }

body.bp { background-color: #F3F5EA; }
body.bp .box { padding: 1.5em; margin-bottom: 1.5em; background: #E5ECF9; }
body.bp div.border { padding-right: 4px; margin-right: 5px; border-right: 1px solid #eeeeee; }
body.bp div.colborder { padding-right: 20px; margin-right: 21px; border-right: 1px solid #eeeeee; }
body.bp hr { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; }
body.bp hr.space { background: #dddddd; color: #dddddd; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; background: #fff; color: #fff; }
body.bp .container { padding-left: 31.667px; padding-right: 31.667px; background-color: #EEEEE2; height: 100%; width: 750px; margin: 0 auto; overflow: hidden; display: inline-block; }
body.bp .container { display: block; }

a { color: #0000cc; text-decoration: none; }
a:visited { color: #cccccc; }
a:focus { color: #cccc00; }
a:hover { color: #00cccc; }
a:active { color: #cc00cc; }
a:hover { text-decoration: underline; }

.note, #flash { background: #FFF6BF; border-top: 2px solid #FFD324; border-bottom: 2px solid #FFD324; text-align: center; margin: 10px auto; padding: 5px 20px; }

body #header { display: inline; float: left; margin-right: 0; width: 750px; border-bottom: 1px solid #ccc; padding-bottom: 0.2em; margin-bottom: 0.5em; padding-top: 0.5em; }
* html body #header { overflow-x: hidden; }
body #header h3 { float: left; margin-right: 1em; margin-bottom: 0px; }
body #header ul { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; }
body #header ul { display: block; }
body #header ul li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
body #header ul li.first { padding-left: 0px; }
body #header ul li.last { padding-right: 0px; }
body #header ul a { font-size: 1.5em; line-height: 1; text-decoration: none; text-transform: lowercase; }
body #header ul a:after { content: " | "; }
body #header #navigation { float: left; }
body #header #user_nav { float: right; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #FFF; padding: 3px; }
body #main-content { display: inline; float: left; margin-right: 0; width: 750px; }
* html body #main-content { overflow-x: hidden; }
body #main-content .title .header { text-decoration: none; font-size: 2.5em; margin-bottom: 6px; line-height: 0.5; margin-top: 4px; text-transform: capitalize; }
body #main-content .title .header:hover { text-decoration: underline; }
body #main-content .title .subheader { font-family: Gill Sans, Verdana; font-size: 0.8em; line-height: 14px; text-transform: uppercase; letter-spacing: 2px; font-weight: bold; text-indent: 10px; color: #004ACC; }
body #main-content .title ul { display: inline; float: left; margin-right: 10px; width: 211.667px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; margin-top: 10px; background-color: #fff; border: 1px solid #BFD8FF; }
* html body #main-content .title ul { overflow-x: hidden; }
body #main-content .title ul { display: block; }
body #main-content .title ul li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
body #main-content .title ul li.first { padding-left: 0px; }
body #main-content .title ul li.last { padding-right: 0px; }
body #main-content .title ul li { list-style-type: none; margin-left: 0px; }
body #main-content .title ul li { padding: 5px; color: #3B809F; font-family: Verdana, sans-serif; font-size: 0.8em; text-transform: lowercase; }
body #main-content .title ul li a { text-decoration: none; }
body #main-content .title ul li a:hover { text-decoration: underline; }
body #main-content .title hr { background: none; border: none; margin-bottom: 1.45em; }
body #main-content form { display: inline; float: left; margin-right: 0; width: 686.667px; margin-bottom: 1em; background-color: #cef; padding-right: 31.667px; padding-left: 31.667px; padding-top: 10px; padding-bottom: 10px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
* html body #main-content form { overflow-x: hidden; }
body #main-content form h3 { margin-bottom: 5px; }
body #main-content form .group { display: inline; float: left; margin-right: 10px; width: 686.667px; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px dashed #ccc; }
* html body #main-content form .group { overflow-x: hidden; }
body #main-content form .group label { display: inline; float: left; margin-right: 10px; width: 243.333px; }
* html body #main-content form .group label { overflow-x: hidden; }
body #main-content form .group .item { display: inline; float: left; margin-right: 0; width: 401.667px; }
* html body #main-content form .group .item { overflow-x: hidden; }
body #main-content form #submit { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.4), 0 20px 20px -10px white inset; background: #B4B4B4 url(chrome://global/skin/toolbar/white-transparent-gradient.png) repeat-x scroll 0 0; border: 1px solid rgba(0, 0, 0, 0.6); padding: 3px 6px; text-shadow: 0 1px rgba(255, 255, 255, 0.4); }
body #main-content form #submit:hover { -moz-box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.4) inset, 0 1px 3px #000000 inset, 0 1px rgba(255, 255, 255, 0.4); background: #B5B5B5 none repeat scroll 0 0; cursor: pointer; }
body #main-content form#friendform #friend { display: inline; float: left; margin-right: 10px; width: 528.333px; border: 1px solid #999; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset; margin-bottom: 3px; padding: 3px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
* html body #main-content form#friendform #friend { overflow-x: hidden; }
body #main-content form#friendform #friend:focus { -moz-box-shadow: 0 0 2px 1px #2878D4, 0 1px 2px rgba(0, 0, 0, 0.7) inset; }
body #main-content form#friendform #submit { display: inline; float: left; margin-right: 0; width: 116.667px; padding: 2px 5px; }
* html body #main-content form#friendform #submit { overflow-x: hidden; }
body #main-content form#friendform #perm_group { display: inline; float: left; margin-right: 0; width: 306.667px; display: block; margin-top: 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 3px; background: #B3DBEF; padding-bottom: 4px; }
* html body #main-content form#friendform #perm_group { overflow-x: hidden; }
body #main-content form#friendform #perm_group b { margin-right: 7px; }
body #main-content form#friendform #perm_group label { margin-right: 10px; padding: 3px; }
body #main-content #friend_wall { display: inline; float: left; margin-right: 0; width: 655px; }
* html body #main-content #friend_wall { overflow-x: hidden; }
body #main-content #friend_wall .friend_box { display: inline; float: left; margin-right: 10px; width: 85px; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset; padding: 2px; background-color: #E8EDF2; text-align: center; border: 1px solid #555; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
* html body #main-content #friend_wall .friend_box { overflow-x: hidden; }
body #main-content ol.posts li.post { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #FFF; display: inline; float: left; margin-right: 0; width: 686.667px; padding: 3px; list-style-type: none; margin-left: 0px; margin-bottom: 0.5em; }
* html body #main-content ol.posts li.post { overflow-x: hidden; }
body #main-content ol.posts li.post:first-child { font-size: 1.3em; }
body #main-content ol.posts li.post #content { font-size: 1.1em; font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; color: #735757; }
body #main-content ol.posts li.post ul.meta { list-style-type: none; margin-left: 0px; color: #619BC7; font-family: Verdana, sans-serif; font-size: 0.7em; }
body #main-content.homepage form#searchform #search { display: inline; float: left; margin-right: 10px; width: 528.333px; border: 1px solid #999; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset; margin-bottom: 3px; padding: 3px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
* html body #main-content.homepage form#searchform #search { overflow-x: hidden; }
body #main-content.homepage form#searchform #search:focus { -moz-box-shadow: 0 0 2px 1px #2878D4, 0 1px 2px rgba(0, 0, 0, 0.7) inset; }
body #main-content.homepage form#searchform #submit { display: inline; float: left; margin-right: 0; width: 116.667px; padding: 2px 5px; }
* html body #main-content.homepage form#searchform #submit { overflow-x: hidden; }
body #main-content.loginpage form#loginform #submit { float: right; }
body #main-content.userpage form#postform #content { display: inline; float: left; margin-right: 0; width: 686.667px; border: 1px solid #999; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset; margin-bottom: 3px; }
* html body #main-content.userpage form#postform #content { overflow-x: hidden; }
body #main-content.userpage form#postform #content:focus { -moz-box-shadow: 0 0 2px 1px #2878D4, 0 1px 2px rgba(0, 0, 0, 0.7) inset; }
body #main-content.userpage form#postform #tags { display: inline; float: left; margin-right: 0; width: 686.667px; border: 1px solid #ccc; margin-bottom: 0.5em; -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7) inset; color: #999; }
* html body #main-content.userpage form#postform #tags { overflow-x: hidden; }
body #main-content.userpage form#postform #tags:focus { color: #000; }
body #main-content.userpage form#postform #submit { float: right; }
body #main-content.settingspage form#settingsform .passwordgroup { display: inline; float: left; margin-right: 10px; width: 686.667px; margin-bottom: 10px; }
* html body #main-content.settingspage form#settingsform .passwordgroup { overflow-x: hidden; }
body #main-content.settingspage form#settingsform .passwordgroup label { display: inline; float: left; margin-right: 10px; width: 243.333px; }
* html body #main-content.settingspage form#settingsform .passwordgroup label { overflow-x: hidden; }
body #main-content.settingspage form#settingsform .passwordgroup input { display: inline; float: left; margin-right: 10px; width: 180px; }
* html body #main-content.settingspage form#settingsform .passwordgroup input { overflow-x: hidden; }
body #main-content.groupspage ul#groups li.group { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #FFF; display: inline; float: left; margin-right: 0; width: 686.667px; padding: 3px; list-style-type: none; margin-left: 0px; margin-bottom: 0.5em; }
* html body #main-content.groupspage ul#groups li.group { overflow-x: hidden; }
body #main-content.groupspage ul#groups li.group a { font-size: 1.1em; font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif; color: #735757; }
