#header
  %h3
    %a{href:"/"} Bitr
  %ul#navigation
    %li
      %a{href:"/groups"} Groups
    %li
      %a{href:"/users"} Users
    :if{condition: !(this['user'] && user != null)}
      %li
        %a{href:"/auth"} Login/Register
  :if{condition: (this['user'] && user != null)}
    %ul#user_nav
      %li
        %a{href:"/users/"+user.columns.username}= user.columns.username
      %li
        %a{href:"/users/"+user.columns.username+"/groups"} Groups
      %li
        %a{href:"/users/"+user.columns.username+"/friends"} Friends
      %li
        %a{href:"/users/"+user.columns.username+"/settings"} Settings
      %li
        %a{href:"/auth/logout"} Logout
