!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title= page_title
    = head_meta
  %body.bp
    .container
      = header
      #main-content.loginpage
        :if{ condition:this['flash'] }
          #flash= flash
        %form#loginform{ action: "/auth/login", method: "post", enctype:"multipart/form-data" }
          .group
            %label Username:
            %input.item{ type:"text", name:"username" }
          .group
            %label Password:
            %input.item{ type:"password", name:"password" }
          %label Are you new here?
          %input.item{ type:"checkbox", name:"register" }
          %input#submit{ type:"submit", value:"submit" }


