!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title= page_title
    =head_meta
  %body.bp
    .container
      =header
      #main-content
        #flash Logout success! 
          %a{ href: "/auth" } [login]
